body {
  background-color: #cecece;
}

#container {
  width: 1000pxg;
  margin: 0 auto;
}

#love-dbc {
  margin: 100px;
  position: relative;
}

#love-dbc:before, #love-dbc:after {
  position: absolute;
  top: 0;
  content: "";
  background: #c0392b;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
      -o-transform-origin: 0 100%;
        transform-origin: 0 100%;
}

#love-dbc:after {
  left: 0;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
      -o-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
}

#love-dbc:before {
  -webkit-animation: boum-left 0.7s ease-in infinite;
    -moz-animation: boum-left 0.7s ease-in infinite;
      -o-animation: boum-left 0.7s ease-in infinite;
        animation: boum-left 0.7s ease-in infinite;
}

#love-dbc:after {
  -webkit-animation: boum-right 0.7s ease-in infinite;
    -moz-animation: boum-right 0.7s ease-in infinite;
      -o-animation: boum-right 0.7s ease-in infinite;
        ganimation: boum-right 0.7s ease-in infinite;
}

@-webkit-keyframes boum-left {
  0%, 100% {
    left: 300px;
    width: 300px;
    height: 510px;
    border-radius: 150px 150px 0 0;
  }

  20%, 40% {
    left: 300px;
    width: 330px;
    height: 540px;
    border-radius: 210px 210px 0 0;
  }
}

@-webkit-keyframes boum-right {
  0%, 100% {
    width: 300px;
    height: 510px;
    border-radius: 150px 150px 0 0;
  }

  20%, 40% {
    left: -30px;
    width: 330px;
    height: 540px;
    border-radius: 210px 210px 0 0;
  }
}